
  
  .loader_image{
    animation: wave 2s infinite;
    transform-origin: center;
    filter: grayscale(100%);
    animation-timing-function: ease-in-out;
  }
  
  @keyframes wave {
    0% {
      opacity: 1;
    }
    25%{
        opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100% {
      opacity: 1;
    } 
}